{% extends 'layout.html' %}


{% block content %}


    <div class="custom-container">
        {% if add_btn %}
            <div style="margin:10px 0">
                {{ add_btn|safe }}
            </div>
        {% endif %}

        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                {% for header in header_list %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for row in body_list %}
                <tr>
                    {% for ele in row %}
                        <td>{{ ele }}</td>
                    {% endfor %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="...">
        <ul class="pagination">
            {{ pager.page_html|safe }}
        </ul>
    </nav>



{% endblock content %}
